@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    --tw-text-opacity: 1;
    background-color: rgb(13 148 136 / var(--tw-text-opacity));
    color: #FFFFFF;
}
::-webkit-scrollbar {
    width: 0.6rem;
    --tw-text-opacity: 1;
    background-color: rgb(20 184 166 / var(--tw-text-opacity));
}
::-webkit-scrollbar-thumb{
    --tw-text-opacity: 1;
    background: rgb(13 148 126 / var(--tw-text-opacity));
    transition: all 0.3s;
    border-radius: 4px;
}